<div>
    <a href="/corder" class=" w3-margin">
        <div class="w3-blue w3-padding w3-round">
            <p>Tất cả</p>
        </div>
    </a>
    <a href="/corder">
        <div class="w3-blue w3-padding w3-round">
            <p>Đơn hàng mới</p>
        </div>
    </a>
</div>