<% include ../app/header.ejs %>
<div ng-controller="all_note">
    <div>
        <!-- <select ng-model="value_filter">
            <option value="deactive">Đã xoá</option>
            <option value="completed">Đã hoàn thành</option>
            <option value="0">Trống</option>
        </select> <button ng-click="filter()">Lọc</button> -->
        <div ng-repeat="note in notes_view" class="w3-border w3-margin-top">
            <p ng-if="note.view_status == 'new'" class="w3-green w3-padding w3-round"><input type="checkbox" ng-model="note.completed" ng-click="completed(note._id)">{{note.title}} - <span class="">{{getDateString(note.endTime)}}</span><span class="w3-right" ng-click="delete(note._id)">x</span></p>
            <p ng-if="note.view_status == 'near'" class="w3-yellow w3-padding w3-round"><input type="checkbox" ng-model="note.completed" ng-click="completed(note._id)">{{note.title}} - <span class="">{{getDateString(note.endTime)}}</span><span class="w3-right" ng-click="delete(note._id)">x</span></p>
            <p ng-if="note.view_status == 'end'" class="w3-red w3-padding w3-round"><input type="checkbox" ng-model="note.completed" ng-click="completed(note._id)">{{note.title}} - <span class="">{{getDateString(note.endTime)}}</span><span class="w3-right" ng-click="delete(note._id)">x</span></p>
            <p>{{note.content}}</p>
        </div>
    </div>

</div>
<script src="/static/js/c_model.js"></script>
<script src="/static/js/c_note.js"></script>
<script src="/static/js/c_work.js"></script>
<script src="/static/js/note.js"></script>
<% include ../app/footer.ejs %>