<% include ../app/header.ejs %>
<div ng-controller="notes_login">
    <div>
        Username: <input ng-model="username">
        Password: <input ng-model="password" type="password">
        <button ng-click="login(username)">Login</button>
    </div>
</div>
<script src="/static/js/c_model.js"></script>
<script src="/static/js/c_note.js"></script>
<script src="/static/js/c_work.js"></script>
<script src="/static/js/m_note.js"></script>
<% include ../app/footer.ejs %>