<% include ../app/m_header.ejs %>
<div class="w3-row" ng-controller="notes_view">

    <div class="w3-col w3-quarter w3-bar-block w3-light-blue" id="sidebar_side">
        <div class="w3-bar-item w3-hover-black" ng-click="new()">Thêm công việc</div>
        <div class="w3-bar-item w3-hover-black" ng-click="view('all')">Tất cả</div>
        <div class="w3-bar-item w3-hover-black" ng-click="view('new')">Còn lâu</div>
        <div class="w3-bar-item w3-hover-black" ng-click="view('near')">Sắp hết</div>
        <div class="w3-bar-item w3-hover-black" ng-click="view('end')">Đã hết</div>
        <div class="w3-bar-item w3-hover-black" ng-click="view('done')">Hoàn thành</div>
        <div class="w3-bar-item w3-hover-black" ng-click="view('undone')">Chưa hoàn thành</div>
    </div>
    <div class="w3-col w3-threequarter">
        <div>
            Bạn là?
            <select ng-model="view_choice" ng-change="open(view_choice)">
                <option value="lam">Lâm</option>
                <option value="dinh">Dinh</option>
                <option value="minh">Minh</option>
                <option value="huy">Huy</option>
                <option value="chau">Châu</option>
            </select>
        </div>

        <div class="w3-margin-top w3-container" id="new_note">
            <input placeholder="Tiêu đề - chỉnh sửa" ng-model="title" class="w3-input w3-border">
            <table class="w3-table-all w3-margin-top">
                <tr>
                    <th style="width: 15%">Mục</th>
                    <th>Nội dung</th>
                </tr>
                <tr>
                    <td>Thời gian</td>
                    <td><input type="datetime-local" ng-model="date"></td>
                </tr>
                <tr>
                    <td>Nội dung</td>
                    <td><input class="w3-input w3-border" type="text" ng-model="content"></td>
                </tr>
            </table>
            <button class="w3-margin-top" ng-click="createNote()">Tạo</button>
        </div>

        <div id="view_note">
            <div>
                <!-- <select ng-model="value_filter">
                    <option value="deactive">Đã xoá</option>
                    <option value="completed">Đã hoàn thành</option>
                    <option value="0">Trống</option>
                </select> <button ng-click="filter()">Lọc</button> -->
                <div ng-repeat="note in notes_view | orderBy: 'endTime' : reserve" class="w3-border w3-margin-top">
                    <p ng-if="note.view_status == 'new'" class="w3-green w3-padding w3-round"><input type="checkbox" ng-model="note.completed" ng-click="completed(note._id)">{{note.title}} - <span class="">{{getDateString(note.endTime)}}</span><span class="w3-right" ng-click="delete(note._id)">x</span></p>
                    <p ng-if="note.view_status == 'near'" class="w3-yellow w3-padding w3-round"><input type="checkbox" ng-model="note.completed" ng-click="completed(note._id)">{{note.title}} - <span class="">{{getDateString(note.endTime)}}</span><span class="w3-right" ng-click="delete(note._id)">x</span></p>
                    <p ng-if="note.view_status == 'end'" class="w3-red w3-padding w3-round"><input type="checkbox" ng-model="note.completed" ng-click="completed(note._id)">{{note.title}} - <span class="">{{getDateString(note.endTime)}}</span><span class="w3-right" ng-click="delete(note._id)">x</span></p>
                    <p>{{note.content}}</p>
                </div>
            </div>

        </div>
        <script src="/static/js/c_model.js"></script>
        <script src="/static/js/c_note.js"></script>
        <script src="/static/js/c_work.js"></script>
        <script src="/static/js/m_note.js"></script>
<% include ../app/footer.ejs %>