<% include ../app/header.ejs %>
<div ng-controller="new_note">
    <div class="w3-margin-top w3-container">
        <input placeholder="Tiêu đề - chỉnh sửa" ng-model="title" class="w3-input w3-border">
        <table class="w3-table-all w3-margin-top">
            <tr>
                <th style="width: 15%">Mục</th>
                <th>Nội dung</th>
            </tr>
            <tr>
                <td>Thời gian</td>
                <td><input type="datetime-local" ng-model="date"></td>
            </tr>
            <tr>
                <td>Nội dung</td>
                <td><input class="w3-input w3-border" type="text" ng-model="content"></td>
            </tr>
        </table>
        <button class="w3-margin-top" ng-click="createNote()">Tạo</button>
    </div>
</div>
<script src="/static/js/c_model.js"></script>
<script src="/static/js/c_note.js"></script>
<script src="/static/js/c_work.js"></script>
<script src="/static/js/m_note.js"></script>
<% include ../app/footer.ejs %>