<% include ../app/header.ejs %>
<div ng-controller="note">

</div>
<script src="/static/js/c_model.js"></script>
<script src="/static/js/c_note.js"></script>
<script src="/static/js/c_work.js"></script>
<script src="/static/js/m_note.js"></script>
<% include ../app/footer.ejs %>